#titleBar {
	padding: 10px;
	text-align: center;
	background-color: #eeeccc;
	border: solid 1px #000000;
}

.file-browser {
	font-family: Geneva;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1;
}

.file-browser A {
	color: #111222;
	text-decoration: none;
}

.file-browser A:hover {
	color: #777777;
}

.file-browser .folder {
	list-style-image: url(/assets/img/folder.png);
}

.file-browser LI.file {
	list-style-image: url(/assets/img/file.png);
}